.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightblue;
}

.nav-links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.divo {
  margin: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  float: left;
  padding: 15px;
}
